.background {
    border-radius: 10px;
    height:30px;
    margin:0 auto;
    overflow: hidden;
    padding:0;
    width:40%;
}

.input {
    box-sizing: border-box;
    height:100%;
    padding:10px 5px;
    width:60%;
}

.button {
    height:100%;
    width:10%;
}